from flask import Flask
{% if sqlalchemy == "Yes" %}from flask.ext.sqlalchemy import SQLAlchemy{% endif %}

app = Flask(__name__)
{% if sqlalchemy == "Yes" %}db = SQLAlchemy(){% endif %}


@app.route('/')
def index():
    return "Hello"

if __name__ == '__main__':
    app.run()
